@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #FAFAFA;
}

#root {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1120px;
  width: 100%;
  padding-inline: 10px;
  align-self: center;
}